<!doctype html>

<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="content">
    <div class="managment">
      <a href="/all-tourists">
        <img src="img/group.png"> </br>
        Tourist </br>
        managment
      </a>
    </div>
    <div class="managment">
      <a href="/all-flights">
        <img src="img/worldwide.png"></br>
        Flights </br>
        Managment
      </a>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div>
</body>
</html>
